<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/xdm6ceas0xqvy9q3l6jjkyll6abbs3jzwes0hgljgo9mfb3y/tinymce/5/tinymce.min.js"></script>
	<title>Blog</title>
</head>
<div layout:fragment="content">
	<br><br><br><br><br>
	<div id="fh5co-main" style="text-align: center;">
	    <form method="post" th:action="@{/updateAbout}" enctype="multipart/form-data">
	    	<textarea name = "title" placeholder="제목" class="textareatitle">제목</textarea><br>
	    	<div  style="padding-left: 8%;"><textarea  name = "content" id="editor">내용</textarea></div>
	        <input type = "hidden" name = "id" th:value="${#authentication.getName()}">
	        <input type = "hidden" id="thumbnail" th:value = "empty" name = "thumbnail">
	        <br>
	        <br>
	        <button type="submit" id="save" class="btn btn-outline-primary">게시글 저장</button>
	    </form>
    </div>
</div>