<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{main}">
<head>
<title>Blog</title>
</head>
<div layout:fragment="content">
	<div id="fh5co-main">
	<form th:action="@{/login}"   action="/login" method="post" id="loginForm" sec:authorize="isAuthenticated()==false">	
		<input type="text" name="username" size="10" placeholder="아이디"><br>
		<input type="password" name="password" size="10" placeholder="비밀번호"><br>
		<input type="submit" value="로그인">
	</form>
	
	
	<th:block sec:authorize="isAuthenticated()">
	<!--/*   sec:authentication="principal" 방식으로 로그인한 회원 정보에 접근할 수 있다     */-->
	<span sec:authentication="principal.name"></span>님 <br>
	<a href="#" id="logoutAction">로그아웃</a><br>	
	<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
	<script type="text/javascript">
		$(function() {
			$("#logoutAction").click(function() {
				$("#logoutForm").submit();
			});
		});
	</script>
	<a th:href="@{/updateForm}">회원정보수정</a><br>	
	<a th:href="@{/enterCafe}">카페가기</a><br>
	<!--/* 
	         sec:authorize="hasRole('ROLE_ADMIN')" 을 이용해  ROLE_ADMIN 권한이 있을 때만 보이도록 한다 
	   */-->
	<a th:href="@{/admin/main}" sec:authorize="hasRole('ROLE_ADMIN')">관리자모드</a><br>	
	</th:block>
	</div>
</div>