<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">
<head>
<title>Blog</title>
</head>
<div layout:fragment="content">
<br>
	<div id="fh5co-main">
		<div style="padding-left: 10%;">
			<textarea th:utext="${board.getTitle()}" class="textareatitleblog" readonly="readonly" >제목</textarea>
			<div th:text="@{작성자: } +${board.id}"></div>
			<div th:utext="@{작성일:} +${board.getPost_date()}" style="padding-right: 10%;">작성일</div>
			<div>수정일: </div><div th:utext="${board.getUpdate_date()}">수정일</div>
			<textarea class="textareaunderline"></textarea>
		</div>	
		<div th:utext="${content}" class="textareacontent" style="padding-left: 10%;">내용</div>
	</div>
</div>