<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	layout:decorate="~{main}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>index</title>
</head>
<div layout:fragment="content">
	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/blogMode(blogMode=java)}">Java-></a>
			</h2>
			<div class="row row-bottom-padded-md">
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-1.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-2.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-3.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-4.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>

			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/blogMode(blogMode=css)}">css-></a>
			</h2>
			<div class="row row-bottom-padded-md">
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-5.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-6.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-3.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-4.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>

			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/blogMode(blogMode=springBoot)}">Spring
					Boot-></a>
			</h2>
			<div class="row row-bottom-padded-md">
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-1.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-2.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-3.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box"
					data-animate-effect="fadeInLeft">
					<div class="blog-entry">
						<a href="#" class="blog-img"><img src="images/img-4.jpg"
							class="img-responsive"
							alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
						<div class="desc">
							<h3>
								<a href="#">Inspirational Website</a>
							</h3>
							<span><small>by Admin </small> / <small> Web
									Design </small> / <small> <i class="icon-comment"></i> 14
							</small></span>
							<p>Design must be functional and functionality must be
								translated into visual aesthetics</p>
							<a href="#" class="lead">Read More <i
								class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align: right;" sec:authorize="hasAuthority('MASTER')">
				<button type="button" th:onclick="writeBlog()" th:text="글쓰기"></button>
			</div>
		</div>
	</div>
		<script th:inline = "javascript">
		function writeBlog() {
			if(confirm("글을 작성하시겠습니까?")) {
				location.href = "http://127.0.0.1:14/scardyblog/writeBlog";
			}
			
		}
	</script>
</div>