<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	layout:decorate="~{main}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>index</title>
</head>
<div layout:fragment="content">
	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
		
		<div th:each="board:${cList}">
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/moveBlogMode(blogMode=java)}" th:text="${}">Java-></a>
			</h2>
		</div>
		
		
		
		
		
		
		
		
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/moveBlogMode(blogMode=java)}">Java-></a>
			</h2>
			
			<div class="row row-bottom-padded-md">
				<div th:each="board:${javaList}">
					<div class="col-md-3 col-sm-6 col-padding animate-box"
						data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="blog-img" style="height: 250px;">
								<img th:src="@{data:image/png;base64,} + ${board.thumbnail}" class="img-responsive" alt="">
							</a>
							<div class="desc">
								<h3>
									<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" th:text="${board.title}">title</a>
								</h3>
								<span><small>by </small><small th:text="${board.id}">id</small></span>
								<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="lead">Read More <i
									class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/moveBlogMode(blogMode=css)}">css-></a>
			</h2>
			<div class="row row-bottom-padded-md">
				<div th:each="board:${cssList}">
					<div class="col-md-3 col-sm-6 col-padding animate-box"
						data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="blog-img" style="height: 250px;">
								<img th:src="@{data:image/png;base64,} + ${board.thumbnail}" class="img-responsive" alt="">
							</a>
							<div class="desc">
								<h3>
									<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" th:text="${board.title}">title</a>
								</h3>
								<span><small>by </small><small th:text="${board.id}">id</small></span>
								<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="lead">Read More <i
									class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">
				<a href=# th:href="@{/moveBlogMode(blogMode=springBoot)}">Spring
					Boot-></a>
			</h2>
			<div class="row row-bottom-padded-md">
				<div th:each="board:${springList}">
					<div class="col-md-3 col-sm-6 col-padding animate-box"
						data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="blog-img" style="height: 250px;">
								<img th:src="@{data:image/png;base64,} + ${board.thumbnail}" class="img-responsive" alt="">
							</a>
							<div class="desc">
								<h3>
									<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" th:text="${board.title}">title</a>
								</h3>
								<span><small>by </small><small th:text="${board.id}">id</small></span>
								<a th:href="@{/moveBlogDetail(postNo=${board.postNo})}" class="lead">Read More <i
									class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align: right;" sec:authorize="hasAuthority('MASTER')">
				<button type="button" th:onclick="moveWriteBlogForm()" th:text="글쓰기"></button>
			</div>
		</div>
	</div>
		<script th:inline = "javascript">
		function moveWriteBlogForm() {
			if(confirm("글을 작성하시겠습니까?")) {
				location.href = "moveWriteBlogForm";
			}
			
		}
	</script>
</div>