<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">
<head>
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>Blog</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div layout:fragment="content">
	<div id="fh5co-main">
	<br><br>
		<div class="col-md-10 col-md-offset-1" style="text-align: center;">	
			<table class=" table">
				<thead>
					<tr>
						<th style="width: 40%; text-align: center;" >카테고리</th>
						<th style="width: 20%; text-align: center;">위로</th>
						<th style="width: 20%; text-align: center;">아래로</th>
						<th style="width: 20%; text-align: center;">삭제</th>
					</tr>
				</thead>
				<tbody th:each="category:${categoryList}">
					<tr>
						<td th:text = "${category}"></td><td></td><td></td><td th:href="@{deleteCategory}">x</td>
					</tr>
				</tbody>
			</table>
			<br><br><br><br><br><br><br><br>
			<form th:action="@{/writeCategory}" method="post">
				<input type = "text" name = "category"><button type = "submit">카테고리 추가</button>
			</form>
		</div>
	</div>
</div>