<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/xdm6ceas0xqvy9q3l6jjkyll6abbs3jzwes0hgljgo9mfb3y/tinymce/5/tinymce.min.js"></script>
	<title>블로그 작성</title>
</head>
<div layout:fragment="content">
	<br><br><br><br><br>
	<div id="fh5co-main" style="text-align: center;">
	    <form method="post" th:action="@{/writeBlogPost}">
	    	<select name = "category" class="textareacategory" style="vertical-align: top;">
	    		<option value="java">java</option>
	    		<option value="css">css</option>
	    	</select>&nbsp;&nbsp;
	    	<textarea name = "title" placeholder="제목" class="textareatitle">제목</textarea><br>
	    	<div  style="padding-left: 10%; color: whitesmoke; background-color: whitesmoke;"><textarea  name = "content" id="editor">Hello, World!</textarea></div>
	        <input type = "hidden" name = "id" th:value="${#authentication.getName()}">
	        <button type="submit" id="save">게시글 저장</button>
	    </form>
    </div>
    
    
    <script>    
$(function(){
    var plugins = [
        "advlist", "autolink", "lists", "link", "image", "charmap", "print", "preview", "anchor",
        "searchreplace", "visualblocks", "code", "insertdatetime", "media", "table",
        "paste", "code", "help", "wordcount", "save", "autoresize"
    ];
    var edit_toolbar = 'formatselect fontselect fontsizeselect |'
               + ' forecolor backcolor |'
               + ' bold italic underline strikethrough |'
               + ' alignjustify alignleft aligncenter alignright |'
               + ' bullist numlist |'
               + ' table tabledelete |'
               + ' link image';

    tinymce.init({
    	language: "ko_KR", //한글판으로 변경
        selector: '#editor',
        elementpath: false,
        width: "89%", // width 값을 100%로 설정
        statusbar: false,
        //menubar: false,
        plugins: plugins,
        content_css: 'style.css',
        toolbar: edit_toolbar,
        toolbar_sticky: true, // 스크롤시 툴바 고정 여부
        location: "folder/sub-folder/new-location.png",
        //font_foramts: 'custom font name=origin font name, sub1, sub2...; other...;'
        image_title: true,
        automatic_uploads: true,
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.onchange = function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        },
        /*** image upload ***/
        
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px; background-color: whitesmoke;}'
    });



    $("#save").on("click", function(){
        var content = tinymce.activeEditor.getContent();
        console.log(content);
    });
    
});
</script>
</div>