<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{main}">
<head>
<title>Insert title here</title>
</head>
<div th:fragment="sidebar">
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary"
			class="border js-fullheight" style="background-color: #222222;">

			<h1 id="fh5co-logo">
				<a href="#" th:href="@{/home}" style="color: white;">Scardy</a>
			</h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li th:classappend="${mode} == 'home' ? 'fh5co-active'"><a
						href="#" th:href="@{/home}" style="color: white;">Home</a></li>
					<!-- class="fh5co-active" -->
					<li th:classappend="${mode} == 'blog' ? 'fh5co-active'"><a
						href="#" th:href="@{/moveBlog}" style="color: white;">Blog</a></li>
					<!--<li th:classappend="${mode} == 'memo' ? 'fh5co-active'"><a
						href=# th:href="@{/moveMemo}" style="color: white;">Memo</a></li> -->
					<li th:classappend="${mode} == 'community' ? 'fh5co-active'"><a
						href="#" th:href="@{/moveCommunity}" style="color: white;">Community</a></li>
					<li th:classappend="${mode} == 'abount' ? 'fh5co-active'"><a
						href="#" th:href="@{/moveAbout}" style="color: white;">About</a></li>
					<li th:classappend="${mode} == 'log' ? 'fh5co-active'">
						<a href="#" th:href="@{/moveLogin}" style="color: white;" sec:authorize="isAnonymous()">Login</a>
						<a href="#" th:href="@{/moveLogin}" style="color: white;" sec:authorize="isAuthenticated()">Logout</a>
					</li>
				</ul>
			</nav>

			<div class="fh5co-footer">
				<p style="color: white;">
					<small>&copy; 2016 Blend Free HTML5. All Rights Reserved. <span>Designed
							by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
					</span> <span>Demo Images: <a href="https://unsplash.com/"
							target="_blank">Unsplash</a></span></small>
				</p>
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>
		</aside>
	</div>
</div>