<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	layout:decorate="~{main}">
<head>
<title>LOGIN</title>
</head>
<div layout:fragment="content">
	<div id="fh5co-main">
		<div class="container">
	        <div class="row">
	            <div class="col-lg-3 col-md-2"></div>
	            <div class="col-lg-6 col-md-8 login-box">
	                <div class="col-lg-12 login-key">
	                    <i class="fa fa-key" aria-hidden="true"></i>
	                </div>
	                <div class="col-lg-12 login-title" sec:authorize="isAnonymous()">
	                    LOGIN PANEL
	                </div>
	                <div class="col-lg-12 login-title" sec:authorize="isAuthenticated()">
			            LOGOUT PANEL
			        </div>
	
	                <div class="col-lg-12 login-form">
	                    <div class="col-lg-12 login-form">
	                        <form th:action="@{/login}"   action="/login" method="post" id="loginForm" sec:authorize="isAnonymous()">
	                            <div class="form-group">
	                                <label class="form-control-label" >ID</label>
	                                <input type="text"  name="username"class="form-control" required="required">
	                            </div>
	                            <div class="form-group">
	                                <label class="form-control-label">PASSWORD</label>
	                                <input type="password"  name="password"class="form-control" required="required">
	                            </div>
								<div class="logout-button">
									<button type="submit" class="btn btn-outline-primary" style="width: 100%;">LOGIN</button>
								</div>
								<div class="logout-button">
									<button type="button" class="btn btn-outline-primary" style="width: 100%;" th:onclick="|location.href='@{/moveRegisterFrom}'|">REGISTER</button>
								</div>
	                        </form>
	                        
	                        
	                        
	                        <div class="form-group">
	                        <th:block sec:authorize="isAuthenticated()">
								<!-- <span sec:authentication="principal.name"></span>님 <br> -->
								<form id="logoutForm" th:action="@{/logout}" method="post">
									<div class="logout-button">
										<button type="submit" class="btn btn-outline-primary" style="width: 100%;">LOGOUT</button>
									</div>
								</form>
								<br><br><br>
								<!-- <a th:href="@{/moveUpdateAccountForm}" style="float: left; padding-left: 20%;">회원정보수정</a>-->
								<!-- <a th:href="@{/moveDeleteAccountForm}" style="float: right; padding-right: 20%;">회원탈퇴</a> -->
								<a th:href="@{/admin/main}" sec:authorize="hasRole('MASTER')">관리자모드</a><br>	
							</th:block>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-2"></div>
	            </div>
	       	</div>
		</div>
	
	
	
	</div>
</div>