

<!DOCTYPE html>
<html lang="ko" class="width-1300 navbar-scroll " style="font-size:15px ">
<head>
<title>글쓰기 - 원신 채널</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
<meta name="theme-color" content="#4f5464">
<meta name="author" content="아카라이브">
<meta name="title" content="글쓰기 - 원신 채널">
<meta name="keywords" content="원신 채널,genshin,원챈,아카라이브">
<meta property="og:type" content="website">
<meta property="og:title" content="글쓰기 - 원신 채널">
<meta property="og:description" content="다양하고 자유로운 커뮤니티 아카라이브">
<meta property="og:image" content="/static/apple-icon.png?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<meta property="og:site_name" content="아카라이브">
<link id="dynamic-favicon" rel="shortcut icon" href="/static/favicon.svg?t=5459c925d35a2cfa5bac44353813edbdf38b8498" sizes="any" type="image/svg+xml">
<link rel="icon" href="/static/favicon-32.png?t=5459c925d35a2cfa5bac44353813edbdf38b8498" sizes="32x32" type="image/png">
<link rel="icon" href="/static/favicon-192.png?t=5459c925d35a2cfa5bac44353813edbdf38b8498" sizes="192x192" type="image/png">
<link rel="apple-touch-icon" href="/static/apple-icon.png?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<link rel="manifest" href="/manifest.json?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<link rel="stylesheet" href="/static/assets/dist/style.css?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<link rel="stylesheet preload" as="style" href="/node_modules/ionicons/css/ionicons.min.css?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<script src="/static/assets/js/lang/ko.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/jquery/dist/jquery.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/jquery-ui-dist/jquery-ui.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/lib/js/jquery.ui.touch-punch.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script type="969c8b2b3bed1ef144d85770-text/javascript">window.LiveConfig={"country":"","domain":"arca.live","allow_sensitive_media":true,"CACHE_KEY":"?t\u003D5459c925d35a2cfa5bac44353813edbdf38b8498","hideChannelNotice":true,"emoticons":[21402,19532,20459,20472,17826,14609,16196,10671,10482,14512],"recaptcha":{"siteKey":"6LcDuIwUAAAAAABqGMfC8KCTje\u002DxWbQu9bhvIO3K"},"nickname":"scardy","subList":["azurlane","simya","dryorgasm","femdom","penise"],"adTags":16,"creation":{"point":500,"enable":1}};</script>
<script src="/node_modules/popper.js/dist/umd/popper.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/js/pagead.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/js/lib/js.cookie.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
</head>
<body class="body" style="">
<div id="top"></div>
<div class="root-container">
<div class="navbar-wrapper">
<nav class="navbar navbar-dark navbar-expand">
<a class="navbar-brand" href="/" title="Arcalive"><svg viewBox="0 0 1 1"><use width="100%" height="100%" href="/static/assets/images/arca-logo-circle-web.svg?t=5459c925d35a2cfa5bac44353813edbdf38b8498#arca-logo" /></svg></a>
<ul class="nav navbar-nav">
<li class="nav-item dropdown">
<a aria-expanded="true" class="nav-link dropdown-toggle" href="#" title="구독 채널" data-toggle="dropdown" aria-haspopup="true">
구독<span class="d-none d-md-inline"> </span><span class="d-none d-md-inline">채널</span>
</a>
<div class="dropdown-menu left">
<a class="dropdown-item" href="/b/my">구독 중인 채널</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item d-flex align-items-center" href="/b/azurlane">
<span class="mr-auto">벽람항로 채널</span>
<span class="badge ml-3 d-none d-md-inline-block">1</span>
</a>
<a class="dropdown-item d-flex align-items-center" href="/b/simya">
<span class="mr-auto">심야식당 채널</span>
<span class="badge ml-3 d-none d-md-inline-block">2</span>
</a>
<a class="dropdown-item d-flex align-items-center" href="/b/dryorgasm">
<span class="mr-auto">드라이 오르가즘 채널</span>
<span class="badge ml-3 d-none d-md-inline-block">3</span>
</a>
<a class="dropdown-item d-flex align-items-center" href="/b/femdom">
<span class="mr-auto">소프트펨돔 채널</span>
<span class="badge ml-3 d-none d-md-inline-block">4</span>
</a>
<a class="dropdown-item d-flex align-items-center" href="/b/penise">
<span class="mr-auto">음경확대 채널</span>
<span class="badge ml-3 d-none d-md-inline-block">5</span>
</a>
</div>
</li>
<li class="nav-item dropdown">
<a aria-expanded="true" class="nav-link dropdown-toggle" href="#" title="채널" data-toggle="dropdown" aria-haspopup="true">
주요<span class="d-none d-md-inline"> </span><span class="d-none d-md-inline">채널</span>
</a>
<div class="dropdown-menu left">
<a class="dropdown-item" href="/b/live">베스트 라이브</a>
<a class="dropdown-item" href="/b/singbung?mode=best">유머 채널</a>
<a class="dropdown-item" href="/b/hotdeal">핫딜 채널</a>
<a class="dropdown-item" href="/b/headline">개념글 모음</a>
<a class="dropdown-item" href="/b/replay">종합 심의대상</a>
<a class="dropdown-item" href="/b/breaking">종합 속보</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/b/notice">공지사항</a>
<a class="dropdown-item" href="/b/request">문의 게시판</a>
<a class="dropdown-item" href="/b/whyiblocked">채널 문의 게시판</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/b/hotdeal">핫딜 채널</a>
<a class="dropdown-item" href="/b/genshin">원신 채널</a>
<a class="dropdown-item" href="/b/counterside">카운터사이드 채널</a>
<a class="dropdown-item" href="/b/bluearchive">블루 아카이브 채널</a>
<a class="dropdown-item" href="/b/yugioh">유희왕 채널</a>
<a class="dropdown-item" href="/b/lostark">로스트아크 채널</a>

<a class="dropdown-item" href="/b/heavenburnsred">헤븐 번즈 레드 채널</a>
<a class="dropdown-item" href="/b/dunfa">던전앤파이터 채널</a>
<a class="dropdown-item" href="/b/hk3rd">붕괴3rd 채널</a>
<a class="dropdown-item" href="/b/nikketgv">승리의 여신 니케 채널</a>
<a class="dropdown-item" href="/b/holopro">홀로라이브 채널</a>
<a class="dropdown-item" href="/b/arknights">명일방주 채널</a>
<a class="dropdown-item" href="/b/gaijin">가이진 채널</a>
<a class="dropdown-item" href="/b/airsoft2077">에어소프트 채널</a>
<a class="dropdown-item" href="/b/azurlane">벽람항로 채널</a>
<a class="dropdown-item" href="/b/aiart">AI 그림 채널</a>
<a class="dropdown-item" href="/b/lastorigin">라스트오리진 채널</a>
<a class="dropdown-item" href="/b/epic7">에픽세븐 채널</a>
<a class="dropdown-item" href="/b/bser">이터널 리턴 채널</a>
<a class="dropdown-item" href="/b/novelchannel">장르소설 채널</a>
<a class="dropdown-item" href="/b/commission">커미션 채널</a>
<a class="dropdown-item" href="/b/soulworkers">소울워커 채널</a>
<a class="dropdown-item" href="/b/punigray">퍼니싱 채널</a>
<a class="dropdown-item" href="/b/maplestory">메이플스토리 채널</a>
<a class="dropdown-item" href="/b/langrisser">랑그릿사 채널</a>
<a class="dropdown-item" href="/b/fightgame">격투게임 채널</a>
<a class="dropdown-item" href="/b/tower">타워 오브 판타지 채널</a>
<a class="dropdown-item" href="/b/mabi">마비노기 블로니 채널</a>
<a class="dropdown-item" href="/b/umamusume">우마무스메 프리티 더비 채널</a>
<a class="dropdown-item" href="/b/projectsekal">프로젝트 세카이 채널</a>
<a class="dropdown-item" href="/b/refuge">피난민 채널</a>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="/channels">
<span class="d-none d-xs-inline">채널</span><span class="d-none d-md-inline"> </span>검색
</a>
</li>
</ul>
<form class="form-inline search-form" id="siteSearchForm" method="get" action="/b/breaking">
<div class="search-input-wrapper">
<span class="ion-search icon"></span>
<input type="hidden" name="target" value="all">
<input type="search" name="keyword" class="form-control" placeholder="찾기" value="">
</div>
</form>
<ul class="nav navbar-nav ml-auto ml-lg-0">
<li class="nav-item d-none d-sm-block">
<a class="nav-link" href="https://namu.news">
<span>뉴스</span>
</a>
</li>
<li class="nav-item d-block">
<a class="nav-link" href="https://namu.wiki">
<span>위키</span>
</a>
</li>
<li class="nav-item d-lg-none">
<a class="nav-link" href="#" id="siteSearchBtn">
<span class="ion-search icon h5"></span>
</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle noti-menu-link no-caret" href="#" title="Notification" data-toggle="dropdown" aria-haspopup="true">
<div class="red-dot" style='display: none'></div>
<span class="ion-android-notifications h5"></span>
</a>
<div class="dropdown-menu noti-dropdown-menu right">
<div class="title">
알림
<button class="btn btn-secondary btn-sm float-right" id="removeAllBtn">모두 읽기</button>
</div>
<div class="dropdown-divider"></div>
<ul class="noti-item-list"></ul>
<div class="dropdown-divider"></div>
<div class="d-block text-center">
<small><a href="/u/notification">전체 보기</a></small>
</div>
</div>
</li>
<li class="nav-item dropdown user-menu-parent">
<a aria-expanded="true" class="nav-link dropdown-toggle user-menu-link loggedin" href="#" title="Member Menu" data-toggle="dropdown" aria-haspopup="true">
<span class="username d-none d-sm-inline">scardy</span>
<span class="ion-person"></span>
</a>
<div class="dropdown-menu user-dropdown-menu right">
<div class="user-info">
<div class="username"><a href="/u/@scardy">scardy</a></div>
<div>48,067 ⓟ</div>
</div>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/settings">설정</a>
<a class="dropdown-item" href="/u/point_history">포인트 내역</a>
<a class="dropdown-item" href="/u/scrap_list">스크랩 목록</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#shortcutHelpModal" role="button">단축키 도움말</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/u/reports">나의 신고 목록</a>
<a class="dropdown-item" href="/u/create_private_board">채널 만들기</a>
<a class="dropdown-item" href="/u/advertisements">광고집행</a>
<a class="dropdown-item" href="/b/namugame">나무게임</a>
<a class="dropdown-item" href="/b/thermometer">라이브 온도계</a>
<a class="dropdown-item" href="/e/">아카콘</a>
<div class="d-block d-sm-none dropdown-divider"></div>
<a class="d-block d-sm-none dropdown-item" href="https://namu.news">나무뉴스</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/u/logout?goto=%2Fb%2Fgenshin%2Fwrite">로그아웃</a>
</div>
</li>
</ul>
</nav>
</div>
<div class="topbar-area d-lg-none"><span class="badge badge-success">뉴스</span><span class="topbar-text"></span></div>
<div class="content-wrapper clearfix">
<div class="sidebar left-ad-area">
<div class="ad small-ad" id="Kt6gbCBrHQpObQFW" data-ad-t="Kt6gbCBrHQpObQFW" data-ad-b="f"></div>
</div>
<article class="containe-fluid board-article">
<div class="article-write">
<div class="board-title">
<div class="left">
<a class="channel-icon-link" href="/b/genshin" aria-label="채널로 이동">
<img class="channel-icon" src="//ac-p2.namu.la/20230223sac/f1413fe2f3b13692943536c15a91f10cff00a5bdd7f2fc5b255f714175a3ae31.png" alt="채널 아이콘">
</a>
</div>
<div class="right">
<div class="head">
<a href="/b/genshin" class="title" data-channel-name="원신 채널">
<span title="원신 채널">원신 채널</span>
<a href="#" class="info-btn" role="button">
<span class="ion-ios-information-outline"></span>
</a>
</a>
<div class="buttons">
<a href="/b/genshin/notificate?value=1&_csrf=rxyfIeNM-eIMwg-hB7vyJpanLhfLeNLFdeY8" class="btn btn-sm notificate-btn">
<span class="notificate">
<span class="ion-android-notifications-none icon"></span>
<span class="text">알림</span>
</span>
<span class="notificated">
<span class="ion-android-notifications icon"></span>
<span class="text">알림 중</span>
</span>
<span class="unnotificate">
<span class="ion-android-notifications-off icon"></span>
<span class="text">알림 취소</span>
</span>
</a>
<a href="/b/genshin/subscribe?value=1&_csrf=rxyfIeNM-eIMwg-hB7vyJpanLhfLeNLFdeY8" class="btn btn-sm subscribe-btn">
<span class="subscribe">
<span class="ion-plus-round icon"></span>
<span class="text">구독</span>
</span>
<span class="subscribed">
<span class="ion-checkmark icon"></span>
<span class="text">구독 중</span>
</span>
<span class="unsubscribe">
<span class="ion-close icon"></span>
<span class="text">구독 취소</span>
</span>
</a>
</div>
</div>
<div class="description">
<div>
<span>구독자 75567명</span>
<span class="sep"></span>
<span>알림수신 922명</span>
<span class="sep"></span>
<span class="user-info">
<a href="/u/@GenshinImpact">@GenshinImpact</a>
<span class="ion-checkmark-circled user-icon user-manager" title="매니저"></span>
</span>
</div>
<div>
뉴비 -&gt; 정보글 뉴비가이드 | 호두, 야란(☆5) 픽업중
</div>
</div>
</div>
</div>
<form name="article_write_form" id="article_write_form" action="/b/genshin/write" method="post">
<input type="hidden" name="_csrf" value="rxyfIeNM-eIMwg-hB7vyJpanLhfLeNLFdeY8">
<input type="hidden" name="token" value="8ba214c0615e06d7">
<input type="hidden" name="contentType" value="html">
<div class="write-head">
글쓰기
</div>
<div class="sub-row">
<span>글머리</span>
<span>
<input type="radio" name="category" id="category-general" value checked required>
<label for="category-general">일반</label>
</span>
<span>
<input type="radio" name="category" id="category-💡정보" value="💡정보">
<label for="category-💡정보">정보</label>
</span>
<span>
<input type="radio" name="category" id="category-창작" value="창작">
<label for="category-창작">창작/번역</label>
</span>
<span>
<input type="radio" name="category" id="category-창작(🔞)" value="창작(🔞)">
<label for="category-창작(🔞)">🔞창작/번역</label>
</span>
<span>
<input type="radio" name="category" id="category-🔞" value="🔞">
<label for="category-🔞">🔞</label>
</span>
<span>
<input type="radio" name="category" id="category-유출" value="유출">
<label for="category-유출">유출</label>
</span>
<span>
<input type="radio" name="category" id="category-유동적 운용탭2" value="유동적 운용탭2">
<label for="category-유동적 운용탭2">찌라시</label>
</span>
<span>
<input type="radio" name="category" id="category-뉴비" value="뉴비">
<label for="category-뉴비">질문</label>
</span>
<span>
<input type="radio" name="category" id="category-멀티모집" value="멀티모집" data-prevent-delete="true">
<label for="category-멀티모집">멀티</label>
</span>
<span>
<input type="radio" name="category" id="category-듀얼" value="듀얼">
<label for="category-듀얼">🆚️듀얼</label>
</span>
<span>
<input type="radio" name="category" id="category-짤" value="짤">
<label for="category-짤">만화/짤</label>
</span>
<span>
<input type="radio" name="category" id="category-비경" value="비경">
<label for="category-비경">비경/영상</label>
</span>
<span>
<input type="radio" name="category" id="category-대회" value="대회">
<label for="category-대회">대회</label>
</span>
<span>
<input type="radio" name="category" id="category-하우징" value="하우징">
<label for="category-하우징">하우징</label>
</span>
<span>
<input type="radio" name="category" id="category-소식/공식" value="소식/공식">
<label for="category-소식/공식">공지</label>
</span>
<span>
<input type="radio" name="category" id="category-🔞이상성욕" value="🔞이상성욕">
<label for="category-🔞이상성욕">🔞이상성욕</label>
</span>
</div>
<div class="sub-row" id="formAgreePreventDelete" style="display:none;">
<label>
선택하신 카테고리는 글 작성 후 수정/삭제가 불가능합니다. 동의하십니까?
<input type="checkbox" name="agreePreventDelete">
</label>
</div>
<div class="row">
<div class="form-group col-12">
<div class="input-group input-group-sm">
<div class="input-group-prepend">
<span class="input-group-text">제목</span>
</div>
<input type="text" name="title" class="form-control form-control-sm" id="inputTitle" maxlength="256" required>
</div>
</div>
</div>
<div class="write-body">
<textarea id="content" name="content" class="form-control" data-placeholder="3.4 최종 챈 설문조사 진행중 - 2월 27일 오후 8시까지
제 3회 치치대회 개최중 - 4월 8일 오후 7시까지

문제있는 글 발견시 해당 글, 댓글에서 신고버튼으로 신고하면 조용히 처리됨 (유동이면 신문고 이용)
저격글 쓸거면 백업챈가서 쓸것.

★ 뉴비는 공지, 정보글 모음, 뉴비가이드 참고 (리세계, 파티조합) ★"></textarea>
<link href="/node_modules/froala-editor/css/froala_editor.pkgd.min.css?t=5459c925d35a2cfa5bac44353813edbdf38b8498" rel="stylesheet" type="text/css" />
<link href="/node_modules/froala-editor/css/themes/dark.min.css?t=5459c925d35a2cfa5bac44353813edbdf38b8498" rel="stylesheet" type="text/css">
<script type="969c8b2b3bed1ef144d85770-text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498"></script>
<script type="969c8b2b3bed1ef144d85770-text/javascript" src="/node_modules/froala-editor/js/languages/ko.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498"></script>
<link rel="stylesheet" href="/static/assets/css/imagesMultiUpload.css?t=5459c925d35a2cfa5bac44353813edbdf38b8498">
<script type="969c8b2b3bed1ef144d85770-text/javascript" src="/static/assets/js/imagesMultiUpload.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498"></script>
<script type="969c8b2b3bed1ef144d85770-text/javascript" src="/static/assets/js/wysiwyg.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498"></script>
</div>
<div class="hidden-preview-checkbox">
<input type="checkbox" name="hidden_preview" id="hidden_preview">
<label for="hidden_preview">미디어 미리보기를 숨기시겠습니까?</label>
<span class="ion-help-circled" data-toggle="tooltip" data-placement="top" title="채널 목록에서 이미지 미리보기가 표시되지 않습니다."></span>
</div>
<div class="btns">
<button class="btn btn-arca" id="submitBtn" type="button">작성</button>
</div>
</form>
</div>
</article>
<aside class="sidebar right-sidebar">
<div class="sidebar-item">
<div class="item-title">
<a href="/b/live">베스트 라이브</a>
</div>
<div class="link-list">
<a href="/b/live/70584400">
<span class="leaf-info float-right"><time datetime="2023-02-25T01:36:49.000Z" data-format="m-d H:i">02-25 01:36</time></span>
하무망이랑 다이호 차이점 말해봄
</a>
<a href="/b/live/70600807">
<span class="leaf-info float-right"><time datetime="2023-02-25T06:58:14.000Z" data-format="m-d H:i">02-25 06:58</time></span>
센세 헤일로는 만질수없습니다..
</a>
<a href="/b/live/70580529">
<span class="leaf-info float-right"><time datetime="2023-02-24T23:19:50.000Z" data-format="m-d H:i">02-24 23:19</time></span>
이지랄한다고 12월부터 없뎃한게 존나 웃김 ㅋㅋㅋㅋ
</a>
<a href="/b/live/70595620">
<span class="leaf-info float-right"><time datetime="2023-02-25T05:18:34.000Z" data-format="m-d H:i">02-25 05:18</time></span>
이씨발 개좆지랄을
</a>
<a href="/b/live/70603493">
<span class="leaf-info float-right"><time datetime="2023-02-25T07:47:44.000Z" data-format="m-d H:i">02-25 07:47</time></span>
자작 SI 순대 꼽았다. 보고 가라.
</a>
</div>
</div>
<div class="sidebar-item">
<div class="item-title">
<a href="/b/genshin?mode=best">이 채널의 개념글</a>
</div>
<div class="link-list">
<a href="/b/genshin/70610150?mode=best">
<span class="leaf-info float-right"><time datetime="2023-02-25T09:43:20.000Z" data-format="m-d H:i">02-25 09:43</time></span>
데히야 컷신?(스포)
</a>
<a href="/b/genshin/70621176?mode=best">
<span class="leaf-info float-right"><time datetime="2023-02-25T12:30:43.000Z" data-format="m-d H:i">02-25 12:30</time></span>
루미네가 오빠를 고르는 만화
</a>
<a href="/b/genshin/70621290?mode=best">
<span class="leaf-info float-right"><time datetime="2023-02-25T12:32:13.000Z" data-format="m-d H:i">02-25 12:32</time></span>
방랑자맘들 어그로 존나끄네 ㅋㅋㅋㅋ
</a>
<a href="/b/genshin/70590540?mode=best">
<span class="leaf-info float-right"><time datetime="2023-02-25T03:44:22.000Z" data-format="m-d H:i">02-25 03:44</time></span>
ㅋㅋㅋ 드디어 번분 치확뚝 떴노
</a>
<a href="/b/genshin/70617666?mode=best">
<span class="leaf-info float-right"><time datetime="2023-02-25T11:42:36.000Z" data-format="m-d H:i">02-25 11:42</time></span>
[그림] 루미네2장, + 중2병 걸린 덴덴이
</a>
</div>
</div>
<div class="sticky-container">
<div class="ad" id="zLcnqmwwq6UCKGT7" data-ad-t="zLcnqmwwq6UCKGT7" data-ad-b="f"></div>
<div class="sidebar-item" id="newsRank">
<div class="item-title">
나무뉴스 주요
</div>
<div class="link-list">
<a>&nbsp;</a>
<a>&nbsp;</a>
<a>&nbsp;</a>
<a>&nbsp;</a>
<a>&nbsp;</a>
</div>
<div class="sidebar-by">
<a href="//namu.news" class="text-colored-link">나무뉴스</a> 제공
</div>
</div>
</div>
</aside>
</div>
<footer class="footer">
<p>Live v2&nbsp;<small class="text-muted">(5459c925)</small><span class="sep"></span><a href="/cdn-cgi/l/email-protection#56252326263924221637243537783a3f2033">Contáctenos</a><span class="sep"></span><a href="/policy">POLÍTICA DE PRIVACIDAD Y REGLAS DE USO</a></p>
<p>Operado por umanle S.R.L.<span class="sep"></span>Hecho con &lt;3 en Asunción, República del Paraguay</p>
<p class="footer-current-users"><span class="ion-ios-people"></span>&nbsp;<span id="arcalive-current-users"></span>명</p>
</footer>
<ul class="nav-control">
<li>
<a href="#top" id="goTopBtn" title="맨위로 이동">
<span class="ion-arrow-up-b"></span>
</a>
</li>
<li>
<a href="#bottom" id="goBottomBtn" title="맨아래로 이동">
 <span class="ion-arrow-down-b"></span>
</a>
</li>
</ul>
<div id="toastbox" class="position-fixed p-3" style="display: none;"></div>
</div>
<div id="bottom"></div>
<div class="modal" id="shortcutHelpModal" tabindex="-1" aria-labelledby="shortcutHelpModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="shortcutHelpModalLabel">단축키 도움말</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<h5 class="mb-3">사이트에서</h5>
<dl class="row mb-4">
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">1</span> ~ <span class="badge badge-secondary">0</span></dt>
<dd class="col-sm-10">구독 채널 바로가기</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">R</span></dt>
<dd class="col-sm-10">새로고침</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">?</span></dt>
<dd class="col-sm-10">단축키 도움말</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">T</span></dt>
<dd class="col-sm-10">맨 위로</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">W</span></dt>
<dd class="col-sm-10">글 작성</dd>
</dl>
<h5 class="mb-3">게시글에서</h5>
<dl class="row">
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">A</span></dt>
<dd class="col-sm-10">이전 글</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">S</span></dt>
<dd class="col-sm-10">다음 글</dd>
<dt class="col-sm-2 text-right"><span class="badge badge-secondary">C</span></dt>
<dd class="col-sm-10">댓글</dd>
</dl>
</div>
</div>
</div>
</div>
<template id="microModalTemplate">
<div class="microModal" aria-hidden="true">
<div tabindex="-1">
<div role="dialog" class="arca-dialog" aria-modal="true">
<h1 class="microModal-title"></h1>
<div class="microModal-content"></div>
<div class="microModal-buttons"></div>
</div>
</div>
</div>
</template>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/assets/js/lib/Micromodal.js" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<template id="statefulSpinnerTemplate">
<div class="stateful-spinner" data-state="LOADING">
<div class="stateful-spinner-spacer">
<svg viewBox="0 0 50 50">
<circle class="outline" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
<circle class="effect1" cx="25" cy="25" r="22" fill="none"></circle>
<circle class="background" cx="25" cy="25" r="22" fill="none"></circle>
<path class="checkpath" stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" transform="scale(0.1) translate(250 250)"></path>
</svg>
</div>
</div>
</template>
<script type="969c8b2b3bed1ef144d85770-text/javascript">window.LivePageAd()</script>
<script src="/static/assets/js/lib/dateformatter.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/hotkeys-js/dist/hotkeys.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/js/layout.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/firebase/firebase-app.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/firebase/firebase-messaging.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/node_modules/firebase/firebase-analytics.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/js/firebase-foreground.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script src="/static/assets/lib/js/loading-attribute-polyfill.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498" type="969c8b2b3bed1ef144d85770-text/javascript"></script>
<script type="969c8b2b3bed1ef144d85770-text/javascript" src="/static/assets/js/write.min.js?t=5459c925d35a2cfa5bac44353813edbdf38b8498"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="969c8b2b3bed1ef144d85770-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"79f0847a98969329","token":"aaccdfd5f94149e6ab6e88598c5d1142","version":"2023.2.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>
